<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">junky.github.io</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item"><a class="nav-link{% if page.url == '/' %} active" aria-current="page{% endif %}" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/noingest.html' %} active" aria-current="page{% endif %}" href="/noingest.html">No Ingest</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/xhr-demo.html' %} active" aria-current="page{% endif %}" href="/xhr-demo.html">XHR</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/dates.html' %} active" aria-current="page{% endif %}" href="/dates.html">Dates</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/mt.html' %} active" aria-current="page{% endif %}" href="/mt.html">MT</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/markdown.html' %} active" aria-current="page{% endif %}" href="/markdown.html">Markdown</a></li>
        <li class="nav-item"><a class="nav-link{% if page.url == '/gdn-troubleshooting.html' %} active" aria-current="page{% endif %}" href="/gdn-troubleshooting.html">GDN Troubleshooting</a></li>
      </ul>
    </div>
  </div>
</nav>
