---
title: junky.github.io - Dates
layout: base.njk
navType: main
bodyPaddingTop: 75px
permalink: /dates.html
extraStyles: |
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .odometer {
     font-size: 100px;
     padding-bottom: 50px;
  }
---
<div class="container">

  <div>November 15</div>
  <div>Wednesday 28 October, 2015</div>
  <div>Last reply: <span class="class">October 18, 2015</span> by drax7</div>
  <div>Today is Monday, October 19th, 2015 07:48 AM</div>

  <div>OCTOBER 2012 EDITION</div>
  <div><strong>OCTOBER</strong> 06</div>

  <div>Atlassian Newsletter - October 2012</div>
  <div>October Road</div>
  <div>Offer ends midnight October 31st.</div>

  <br/>
  <div>1. The Story and Song from the Haunted Mansion (24:35)</div>
  <div>00:16</div>
  <div>00:02:05</div>
  <div>Apex class 'lqs9HM9u'); waitfor delay '0:0:12' --' does not exist</div>
  <div>3:15<span>pm</span></div>
  <div>3:15pm-4:45am</div>

  <br/>
  <div>Exclude string from automatic localization: 23 December 2015</div>

  <br />
  <div>Thursday 6/23</div>

  <br />
  <div>For Machine Translation</div>

</div><!-- /.container -->
