---
title: junky.github.io - Images
layout: base.njk
navType: main
bodyPaddingTop: 75px
permalink: /images.html
extraStyles: |
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .odometer {
     font-size: 100px;
     padding-bottom: 50px;
  }
headScripts: |
  <!-- Odometr includes -->
  <link rel="stylesheet" href="https://github.hubspot.com/odometer/themes/odometer-theme-car.css">
  <script src="https://github.hubspot.com/odometer/odometer.js"></script>
---
<div class="container">

<img src="/images/en/flag.png" alt="US Flag" style="width:256px;height:256px;">
<img src="/assests/images/en/flag.png" alt="US Flag. Assets" style="width:256px;height:256px;">
<br/>
<br/>
<img src="/cw/flag.png" alt="/cw/" style="width:256px;height:256px;">
<img src="/cw/en_us/flag.png" alt="/cw/en_us/" style="width:256px;height:256px;">

</div><!-- /.container -->
