---
title: junky.github.io
layout: base.njk
navType: main
bodyPaddingTop: 75px
permalink: /xhr-demo.html
extraStyles: |
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .odometer {
     font-size: 100px;
     padding-bottom: 50px;
  }
headScripts: |
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' fonts.googleapis.com cdn.jsdelivr.net github.hubspot.com ajax.googleapis.com pinchjs-cdn.pinch.dev.smartling.net xhr-demo.pinch.dev.smartling.net; font-src * data: blob: 'unsafe-inline'; child-src 'none';">
  <!-- Odometr includes -->
  <link rel="stylesheet" href="https://github.hubspot.com/odometer/themes/odometer-theme-car.css">
  <script src="https://github.hubspot.com/odometer/odometer.js"></script>
footerScripts: |
  <script> var slXhrUrl = "https://xhr-demo.pinch.dev.smartling.net"; </script>
  <script src="https://pinchjs-cdn.pinch.dev.smartling.net/demo.js"></script>
---
<div class="container">

  <div class="starter-template">
    <div style="padding: 20px 30px;">
      <b>Enter number:</b>
      <input type="text" name="number" id="number" style="width: 250px;" value="010" />
      <input type="button" value="Send" id="send_btn" />
    </div>

    <div id="odometer" class="odometer">123</div>

  </div>

</div><!-- /.container -->
